<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lift</title>
  <!-- vínculo de tipografía -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
  <!-- vínculo archivo css: main y bootstrap -->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="background-image-final height flex-check">
  <div>
    <img class="img-responsive img-rounded" src="../assets/imgs/logo.check.jpg" alt="">
  </div>
  <!-- vínculo de archivos js -->
  <script src="../vendors/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="../js/finalview.js"></script>
</body>
</html>
