<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign up</title>
  <!-- Vínculo de tipografía-->
  <link href="https://fonts.googleapis.com/css?family=Boogaloo|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Vínculo css: bootstrap y main-->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="background-color height">
  <!-- VISTA PREVIA--->
  <menu>
    <div class="button-previous-view">
      <a href="signup.html" type="button" class="btn">
       <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
     </a>
   </div>
  </menu>
  <!-- ENCABEZADO-->
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
         <div class="text-center tittle-signup">
           <h1><strong>Verify phone number</strong></h1>
           <h4>Join now for free ride credit</h4>
         </div>
         <hr>
        </div>
      </div>
    </div>
  </header>
  <br>
  <!-- ..VERIFITY PHONE SECTION--->
  <section class="veifity-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <form action="" class="col-xs-12">
            <div class="flex">
              <div class="input-group col-xs-6">
               <span class="input-group-addon input-lg" id="basic-addon1">LAB -</span>
               <input type="number" class="form-control input-lg" placeholder="_ _ _" aria-describedby="basic-addon1">
              </div>
            </div>
            <br>
            <div class="form-group col-xs-12">
             <h5 id="frase"> Enter the code send to </h5>
            </div>
            <div class="col-xs-11">
              <button type="submit" class="btn btn-block  btn-lg" disabled>Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- vínculo de lo archivos js necesarios -->
  <script src="../vendors/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../js/verifyphone.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
